name: Build
on:
  push:
      branches:
        - main
  pull_request:

jobs:
  # Build job. Builds app for Android with Buildozer
  code-quality:
    name: Code quality checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Black
        run: pip install black

      - name: Check Black formatting
        run: black . --check

  build-android:
    name: Build for Android
    runs-on: ubuntu-latest
    needs: code-quality

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          buildozer_version: stable

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: ${{ steps.buildozer.outputs.filename }}
